name: CI
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  # push:
    # branches: [ "main" ]
  # pull_request:
    # branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          install: true

      - name: Restore buildx cache
        uses: actions/cache@v4
        id: buildx-cache
        with:
          path: buildx-cache
          key: buildx-${{ runner.os }}-${{ hashFiles('**/Dockerfile') }}
          restore-keys: |
            buildx-${{ runner.os }}-

      - name: Build Docker image with local buildx cache
        uses: docker/build-push-action@v4
        with:
          context: .
          push: false
          load: true
          platforms: linux/amd64
          tags: build:latest
          cache-from: type=local,src=buildx-cache
          cache-to: type=local,dest=buildx-cache,mode=max
